<template>
  <i-layout class="container">
    <side-bar></side-bar>
    <i-layout class="content">
      <o-header></o-header>
      <i-content class="view-wrapper">
        <custom-bread-crumb class="breadcrumb-container" show-icon :list="breadCrumbList"></custom-bread-crumb>
        <router-view></router-view>
        <o-footer></o-footer>
      </i-content>
    </i-layout>
  </i-layout>
</template>

<script>
import customBreadCrumb from '@/components/custom-bread-crumb';
import SideBar from '@/components/sidebar';
import OHeader from '@/components/header';
import OFooter from '@/components/footer';

import { getBreadCrumbList } from 'utils';
export default {
  name: 'BasicLayout',
  data () {
    return {
      breadCrumbList: []
    };
  },
  components: {
    SideBar,
    OHeader,
    OFooter,
    customBreadCrumb
  },
  methods: {
    getBreadCrumbList
  },
  watch: {
    $route () {
      this.breadCrumbList = getBreadCrumbList(this.$route.matched);
    }
  },
  created () {
    this.breadCrumbList = getBreadCrumbList(this.$route.matched);
  }
};
</script>

<style lang="less" scoped>
.container {
  flex-direction: row;
  min-height: 100vh;
  .content {
    height: 100vh;
    overflow-x: hidden;
    .breadcrumb-container {
      margin: 16px 0;
    }
    .view-wrapper {
      padding: 0 16px 16px;
      overflow-y: scroll;
    }
  }
}
</style>
