<template>
  <page inner>
    <Card :bordered="false">
      <p slot="title">这里是标题</p>
      <p>Content of no border type. Content of no border type. Content of no border type. Content of no border type. </p>
    </Card>
  </page>
</template>

<script>
import Page from '@/components/page';
export default {
  name: 'Test',
  components: {
    Page
  }
};
</script>

<style lang="less" scoped>

</style>
