<template>
  <page inner>
    <i-card :bordered="false">
      <p slot="title">公告详情</p>
      <div class="container">
        <description-list title="基本信息" :dataSource="basicDetail"></description-list>
        <i-divider></i-divider>
        <div v-for="(item, key) of langDetail" :key="key">
          <description-list :title="`${LANGUAGES[key]}通知内容`" :dataSource="item"></description-list>
          <i-divider></i-divider>
        </div>
      </div>
    </i-card>
  </page>
</template>

<script>
import moment from 'moment';
import Page from '@/components/page';
import descriptionList from './descriptionList';
import { ANNOUNCE_METHOD, ANNOUNCE_TYPE, LANGUAGES, ERR_OK, BTT_TYPES } from '../constantMap';

import { queryAnnounceDetail } from '../service';

export default {
  name: 'announceDetail',
  data () {
    return {
      basicDetail: [],
      langDetail: {},
      ANNOUNCE_METHOD,
      LANGUAGES,
      ANNOUNCE_TYPE
    };
  },
  methods: {
    async fetchAnnounceDetailData () {
      await this.$Spin.show();
      const res = await queryAnnounceDetail({
        id: this.$route.params.id,
        notice_type: this.$route.params.announceMethod
      });
      if (res.status.code === ERR_OK) {
        const dataArr = res.data.arr;
        // 处理基本信息
        /* eslint-disable camelcase */
        const { notice_type, upline_time, downline_time, type, is_top } = dataArr[0];
        this.basicDetail = [
          {
            label: '通知类型',
            value: ANNOUNCE_METHOD[notice_type]
          },
          {
            label: '上线时间',
            value: moment(upline_time).format('YYYY-MM-DD HH:mm:ss')
          },
          {
            label: '下线时间',
            value: moment(downline_time).format('YYYY-MM-DD HH:mm:ss')
          },
          {
            label: '类别',
            value: ANNOUNCE_TYPE[type]
          },
          {
            label: '置顶',
            value: BTT_TYPES[is_top]
          }
        ];
        // 处理语言通知内容
        dataArr.forEach(v => {
          this.langDetail[v.languageType] = [
            {
              label: '通知标题',
              value: v.notice_title
            },
            {
              label: '通知URL',
              value: v.notice_url
            },
            {
              label: '弹框文案',
              value: v.content
            },
            {
              label: '按钮文案',
              value: v.button_word
            },
            {
              label: '通知摘要',
              value: v.notice_summary
            },
            {
              label: '列表头图',
              value: v.list_url,
              row: '24',
              img: true
            },
            {
              label: '弹框图片',
              value: v.img_url,
              row: '24',
              img: true
            }
          ];
        });
      }
      await this.$Spin.hide();
    }
  },
  components: {
    Page,
    descriptionList
  },
  created () {
    this.fetchAnnounceDetailData();
  }
};
</script>
