<template>
  <page inner>
    <i-card :bordered="false">
      <p slot="title">公告编辑</p>
      <div class="container">
        <i-form class="main-form" ref="mainForm" :model="mainFormData" :rules="ruleValidate" :label-width="90" label-position="right">
          <i-form-item label="通知类型" prop="announceMethod">
            <i-radio-group v-model="mainFormData.announceMethod">
              <i-radio v-for="(value, key) in ANNOUNCE_METHOD" :key="key" :label="key">{{value}}</i-radio>
            </i-radio-group>
          </i-form-item>
          <i-form-item label="语言" prop="announceLang">
            <CheckboxGroup v-model="mainFormData.announceLang">
              <Checkbox v-for="(value, key) in LANGUAGES" :key="key" :label="key">{{value}}</Checkbox>
            </CheckboxGroup>
          </i-form-item>
          <!-- 子表单 -->
          <lang-form class="lang-form" v-for="value in announceLangOrder" :key="value" ref="langForm" :formData="langExtraForm[value]" :rules="langExtraFormRule" :langCode="value" :announceMethodCode="mainFormData.announceMethod" @on-update-file="handleUpdateFile"></lang-form>
          <i-form-item label="上下线时间" prop="onlineRange" required>
            <i-date-picker type="datetimerange" v-model="mainFormData.onlineRange" :options="datePickerOptions" :editable="false" style="width: 410px"></i-date-picker>
          </i-form-item>
          <i-form-item label="类别" prop="announceType">
            <i-radio-group v-model="mainFormData.announceType">
              <i-radio v-for="(value, key) in ANNOUNCE_TYPE" :key="key" :label="key">{{value}}</i-radio>
            </i-radio-group>
          </i-form-item>
          <i-form-item label="置顶" v-show="!(mainFormData.announceMethod === '1')" required>
            <i-switch true-value="1" false-value="2" v-model="mainFormData.BTT">
              <Icon type="md-checkmark" slot="open"></Icon>
              <Icon type="md-close" slot="close"></Icon>
            </i-switch>
          </i-form-item>
          <i-button class="submit-btn" type="primary" size="large" @click="handleSubmit">确认修改</i-button>
        </i-form>
      </div>
    </i-card>
  </page>
</template>

<script>
import Page from '@/components/page';
import LangForm from '../langForm';

import moment from 'moment';
import { ANNOUNCE_METHOD, ANNOUNCE_TYPE, LANGUAGES, ERR_OK } from '../constantMap';
import { getBase64 } from 'utils';
import uploadMixin from '../uploadMixin';

import { editAnnounceDetail, queryAnnounceDetail } from '../service';

export default {
  name: 'editAnnounce',
  mixins: [uploadMixin],
  data () {
    return {
      mainFormData: {},
      ruleValidate: {
        announceMethod: [{ required: true, message: '请选择通知类型', trigger: 'change' }],
        announceLang: [{ required: true, type: 'array', min: 1, message: '至少要选择1种语言类型', trigger: 'change' }],
        onlineRange: [
          {
            required: true,
            type: 'array',
            min: 2,
            message: '请选择上下线时间范围',
            trigger: 'change',
            fields: {
              0: { type: 'date', required: true, message: '请选择上下线时间范围' },
              1: { type: 'date', required: true, message: '请选择上下线时间范围' }
            }
          }
        ],
        announceType: [{ required: true, message: '请选择通知类别', trigger: 'change' }]
      },
      langExtraForm: null,
      langExtraFormRule: {
        announceTitle: [{ required: true, type: 'string', max: 25, message: '请填写通知标题，且不超过25个字符', trigger: 'change' }],
        announceURL: [{ required: true, type: 'string', message: '请填写通知URL', trigger: 'change' }],
        modelText: [{ required: true, type: 'string', max: 120, message: '请填写弹框文案，且不超过120个字符', trigger: 'change' }],
        buttonText: [{ required: true, type: 'string', max: 20, message: '请填写按钮文案，且不超过20个字符', trigger: 'change' }],
        // modalImage: [{ required: true, message: '请上传弹框图片', trigger: 'change' }],
        // listImage: [{ required: true, message: '请上传列表头图', trigger: 'change' }],
        noticeDesc: [{ required: true, type: 'string', max: 60, message: '请填写通知摘要，且不超过60个字符', trigger: 'change' }]
      },
      datePickerOptions: {
        disabledDate (date) {
          return date && date.valueOf() < Date.now() - 86400000;
          // return date && date.valueOf() < Date.now();
        }
      },
      ANNOUNCE_METHOD,
      LANGUAGES,
      ANNOUNCE_TYPE
    };
  },
  methods: {
    async handleSubmit () {
      let langFormCheckOK = true;
      // 遍历小表单，如果验证通过则langFormCheckOK为true
      if (this.$refs.langForm) {
        for (let v of this.$refs.langForm) {
          const verifyOK = await v.$refs.languageForm.validate();
          if (!verifyOK) {
            langFormCheckOK = false;
          }
        }
      } else {
        langFormCheckOK = false;
      }
      // 检查上线时间是不是有毒, 不要在危险的边缘试探啊～
      if (this.mainFormData.onlineRange[0]) {
        console.log(this.mainFormData.onlineRange[0] > Date.now());
        if (!(this.mainFormData.onlineRange[0] > Date.now())) {
          this.$Message.error('你选择的上线时间应比当前时间晚');
          return;
        }
      }
      const mainFormCheckOK = await this.$refs.mainForm.validate();
      if (langFormCheckOK && mainFormCheckOK) {
        // this.$Message.success('表单验证通过');
        await this.submitFormData();
        await this.$Notice.success({
          title: '修改公告成功'
        });
        await this.$router.push('/announce/list');
      }
    },
    async submitFormData () {
      await this.$Spin.show({
        render: () => {
          return (
            <div>
              <i-icon class="spin-icon-load" type="ios-loading" size={18} />
              <div>上传中</div>
            </div>
          );
        }
      });
      const { announceMethod, announceLang, onlineRange, announceType, BTT } = this.mainFormData;
      // 转换子表单的字段
      // 这里使用 Promise.all 来阻塞获取content
      const content = await Promise.all(
        Object.entries(this.langExtraForm)
          // 过滤不匹配的语言表单
          .filter(v => ~announceLang.indexOf(v[0]))
          .map(async v => {
            const [type, { announceTitle, announceURL, modelText, buttonText, noticeDesc, modalImage, listImage, AWSmodalImage, AWSlistImage }] = v;
            const modelFormSign = announceMethod === '1' || announceMethod === '3';
            const listFormSign = announceMethod === '2' || announceMethod === '3';
            let modalImageURL = modelFormSign ? {OSSurl: modalImage, S3Url: AWSmodalImage} : {OSSurl: '', S3Url: ''};
            let listImageURL = listFormSign ? {OSSurl: listImage, S3Url: AWSlistImage} : {OSSurl: '', S3Url: ''};
            // 你要是把图给换了，我还得重传图片
            if (typeof modalImage === 'object') {
              modalImageURL = modelFormSign ? await this.uploadToOSSAndS3(modalImage) : {OSSurl: '', S3Url: ''};
            }
            if (typeof listImage === 'object') {
              listImageURL = listFormSign ? await this.uploadToOSSAndS3(listImage) : {OSSurl: '', S3Url: ''};
            }
            // 过滤不需要的字段
            return {
              type,
              notice_title: announceTitle,
              notice_url: announceURL,
              img_url: modelFormSign ? modalImageURL.OSSurl : '',
              aimg_url: modelFormSign ? modalImageURL.S3Url : '',
              list_url: listFormSign ? listImageURL.OSSurl : '',
              alist_url: listFormSign ? listImageURL.S3Url : '',
              content: modelFormSign ? modelText : '',
              button_word: modelFormSign ? buttonText : '',
              notice_summary: listFormSign ? noticeDesc : ''
            };
          })
      );
      const res = await editAnnounceDetail({
        id: this.$route.params.id,
        notice_type: announceMethod,
        type: announceType,
        language_type: announceLang.toString(),
        upline_time: moment(onlineRange[0]).format('YYYY-MM-DD HH:mm:ss'),
        downline_time: moment(onlineRange[1]).format('YYYY-MM-DD HH:mm:ss'),
        is_top: announceMethod === '1' ? '0' : BTT,
        content
      });
      await this.$Spin.hide();
      console.log(res);
    },
    handleUpdateFile (langCode, imgType, file) {
      // console.log(langCode, imgType, file);
      if (imgType === 'MODAL') {
        this.langExtraForm[langCode].modalImage = file;
        getBase64(file, imageUrl => {
          this.langExtraForm[langCode].base64ModalImage = imageUrl;
        });
      } else if (imgType === 'LIST') {
        this.langExtraForm[langCode].listImage = file;
        getBase64(file, imageUrl => {
          this.langExtraForm[langCode].base64ListImage = imageUrl;
        });
      }
    },
    async fetchAnnounceDetailData () {
      const res = await queryAnnounceDetail({
        id: this.$route.params.id,
        notice_type: this.$route.params.announceMethod
      });
      await this.$Spin.show();
      if (res.status.code === ERR_OK) {
        const dataArr = res.data.arr;
        // 处理基本信息
        /* eslint-disable camelcase */
        const { notice_type, upline_time, downline_time, type, is_top, language_type } = dataArr[0];
        this.mainFormData = {
          announceMethod: notice_type.toString(),
          announceLang: language_type.split(','),
          onlineRange: [new Date(upline_time), new Date(downline_time)],
          announceType: type.toString(),
          BTT: is_top.toString() === '0' ? '2' : is_top.toString()
        };
        // 处理语言通知内容
        dataArr.forEach(v => {
          // 根据公告类型配置图片显示
          this.langExtraForm[v.languageType] = {
            announceTitle: v.notice_title,
            announceURL: v.notice_url,
            modelText: v.content || '',
            buttonText: v.button_word || '',
            modalImage: v.img_url || '',
            AWSmodalImage: v.aimg_url || '',
            base64ModalImage: v.img_url || '',
            listImage: v.list_url || '',
            AWSlistImage: v.alist_url || '',
            base64ListImage: v.list_url || '',
            // 通知摘要
            noticeDesc: v.notice_summary || ''
          };
        });
        await this.$Spin.hide();
      }
    }
  },
  computed: {
    announceLangOrder () {
      const { announceLang } = this.mainFormData;
      return announceLang ? announceLang.slice().sort() : [];
    }
  },
  components: {
    LangForm,
    Page
  },
  created () {
    let langExtraForm = {};
    const standerd = {
      announceTitle: '',
      announceURL: '',
      modelText: '',
      buttonText: '',
      modalImage: '',
      base64ModalImage: '',
      listImage: '',
      base64ListImage: '',
      // 通知摘要
      noticeDesc: ''
    };
    for (let key in LANGUAGES) {
      langExtraForm[key] = {
        ...standerd
      };
    }
    this.langExtraForm = langExtraForm;
    this.fetchAnnounceDetailData();
  }
};
</script>

<style>
.spin-icon-load {
  animation: ani-demo-spin 1s linear infinite;
}
</style>

<style lang="less" scoped>
.container {
  display: flex;
  justify-content: center;
  .main-form {
    width: 500px;
    .lang-form {
      width: 500px;
    }
    .submit-btn {
      display: block;
      width: 250px;
      margin: 0 auto;
    }
  }
}
</style>
