<template>
  <div class="custom-bread-crumb">
    <i-breadcrumb :style="{fontSize: `${fontSize}px`}">
      <i-breadcrumb-item v-for="item in list" :to="item.to" :key="`bread-crumb-${item.name}`">
        <Icon v-if="showIcon" :type="item.icon" style="margin-right: 4px;" />{{ showTitle(item) }}</i-breadcrumb-item>
    </i-breadcrumb>
  </div>
</template>
<script>
import './custom-bread-crumb.less';
export default {
  name: 'customBreadCrumb',
  props: {
    list: {
      type: Array,
      default: () => []
    },
    fontSize: {
      type: Number,
      default: 14
    },
    showIcon: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    showTitle (item) {
      if (item.meta && item.meta.title) {
        return item.meta.title;
      } else {
        return item.name;
      }
    }
  }
};
</script>
