<template>
  <i-header class="header">
    <div></div>
    <div class="poi" @click="logout">退出</div>
  </i-header>
</template>

<script>
import { removeToken } from '@/utils/token';
export default {
  name: 'OHeader',
  methods: {
    logout () {
      removeToken();
      this.$router.push('/login');
    }
  }
};
</script>

<style lang="less" scoped>
@import "~@/styles/variable";

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 47px;
  line-height: 47px;
  background-color: #fff;
  box-shadow: 0 2px 3px 2px rgba(0,0,0,.1);
  padding: 0 16px;
  z-index: 10;
}
</style>
