<template>
  <div class="detail-block">
    <div class="title">{{title}}</div>
    <i-row class="row" :gutter="16" align="top">
      <i-col class="cell" :span="item.row || 8" v-if="item.value" v-for="item of dataSource" :key="item.label">
        <div class="label">
          {{item.label}}:
        </div>
        <div class="value">
          <span v-if="!item.img">{{item.value}}</span>
          <img v-else :src="item.value" :alt="item.value">
        </div>
      </i-col>
    </i-row>
  </div>
</template>

<script>
export default {
  name: 'descriptionList',
  props: {
    title: {
      type: String,
      required: true
    },
    dataSource: {
      type: Array
    }
  }
};
</script>

<style lang="less" scoped>
.detail-block {
  .title {
    margin-bottom: 16px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
  }
  .row {
    .cell {
      float: left;
      .label {
        display: table-cell;
        padding-right: 10px;
        padding-bottom: 16px;
        margin-right: 8px;
        color: rgba(0, 0, 0, 0.85);
        line-height: 20px;
        white-space: nowrap;
      }
      .value {
        display: table-cell;
        width: 100%;
        padding-bottom: 16px;
        line-height: 22px;
        word-break: break-all;
        color: rgba(0, 0, 0, 0.65);
        img {
          vertical-align: top;
        }
      }
    }
  }
}
</style>
