<template>
  <Sider class="sidebar" collapsible :collapsed-width="64" v-model="collapsed">
    <side-menu accordion :active-name="$route.name" :collapsed="collapsed" @on-select="turnToPage" :menu-list="menuList">
      <!-- 需要放在菜单上面的内容，如Logo，写在side-menu标签内部，如下 -->
      <div class="logo-con">
        <!-- <img v-show="!collapsed" :src="maxLogo" key="max-logo" /> -->
        <div class="max-logo" v-show="!collapsed">ONO admin</div>
        <img v-show="collapsed" :src="minLogo" key="min-logo" />
      </div>
    </side-menu>
  </Sider>
</template>

<script>
import { routes } from '@/router';
import { getMenuByRouter } from 'utils';

import sideMenu from './side-menu';
import minLogo from '@/assets/images/logo-blue.jpg';

export default {
  name: 'Sidebar',
  data () {
    return {
      minLogo,
      collapsed: false,
      menuList: []
    };
  },
  methods: {
    turnToPage (name) {
      this.$router.push({
        name: name
      });
    }
  },
  created () {
    console.log(routes);
    this.menuList = getMenuByRouter(routes);
  },
  components: {
    sideMenu
  }
};
</script>

<style lang="less" scoped>
.sidebar {
  // position: fixed;
  // top: 0;
  // left: 0;
  // bottom: 0;
  z-index: 5;
  background: #515a6e;
  overflow: auto;
  padding-bottom: 24px;
  transition: all 0.3s ease-out;
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.02);
  .logo-con {
    color: #fff;
    font-size: 30px;
    text-align: center;
    .max-logo {
      padding: 10px;
    }
  }
}
</style>
