<template>
  <div class="footer">
    <i-icon type="logo-nodejs" class="icon" /> 2018 ONO WEB前端技术部出品
  </div>
</template>

<script>
export default {
  name: 'Footer'
};
</script>

<style lang="less" scoped>
@import '~@/styles/variable';

.footer {
  padding: 0 16px;
  margin: 48px 0 24px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 14px;
  color: #999;
  .icon {
    font-size: 30px;
  }
}
</style>
