<template>
  <div :class="classes">
    <slot></slot>
  </div>
</template>

<script>
const prefixCls = 'page';

export default {
  name: 'Page',
  props: {
    inner: {
      type: Boolean
    }
  },
  computed: {
    classes () {
      return [
        `${prefixCls}`,
        {
          [`${prefixCls}-inner`]: this.inner
        }
      ];
    }
  }
};
</script>

<style lang="less" scoped>
@import '~@/styles/variable';

.page {
  &-inner {
    background: #fff;
    padding: 24px;
    box-shadow: @shadow-1;
    min-height: calc(100vh - 184px);
  }
}
</style>
