<template>
  <page class="announce-list" inner>
    <i-card :bordered="false">
      <p slot="title">公告列表</p>
      <div class="sort-row">
        <i-form ref="sortForm" :model="sortForm" :label-width="70" label-position="right" inline>
          <i-form-item label="创建日期:" prop="createdTime">
            <i-date-picker type="date" placeholder="创建日期" v-model="sortForm.createdTime" :options="datePickerOptions"></i-date-picker>
          </i-form-item>
          <i-form-item label="公告名称:" prop="announceTitle">
            <i-input v-model="sortForm.announceTitle" placeholder="公告名称" clearable>
            </i-input>
          </i-form-item>
          <i-form-item label="通知形式:" prop="announceMethod">
            <i-select v-model="sortForm.announceMethod" style="width:90px" clearable>
              <i-option v-for="(v, key) of ANNOUNCE_METHOD" :value="key" :key="key">{{ v }}</i-option>
            </i-select>
          </i-form-item>
          <i-form-item label="状态:" prop="status" :label-width="50">
            <i-select v-model="sortForm.status" style="width:100px" clearable>
              <i-option v-for="(v, key) in ANNOUNCE_STATUS" :value="key" :key="key">{{ v.label }}</i-option>
            </i-select>
          </i-form-item>
          <i-button type="primary" icon="ios-search" @click="handleSubmit" style="margin-left: 20px">搜索</i-button>
          <i-button @click="handleReset">重置</i-button>
        </i-form>
      </div>
      <div class="add-item-row">
        <i-button type="primary" icon="md-add" @click="handleCreateAnnounce">新建通知</i-button>
      </div>
      <i-table :data="dataSource" :loading="listLoading" :columns="tableColumns" stripe></i-table>
      <div style="margin: 10px;overflow: hidden">
        <div style="float: right;">
          <i-page :total="pageInfo.total" :current="pageInfo.current" :page-size="pageInfo.pageSize" @on-change="handlePageChange" @on-page-size-change="handlePageSizeChange" show-sizer show-elevator show-total style="height:34px"></i-page>
        </div>
      </div>
    </i-card>
  </page>
</template>

<script>
import Page from '@/components/page';

import moment from 'moment';
import { ANNOUNCE_METHOD, ANNOUNCE_TYPE, BTT_TYPES, ANNOUNCE_STATUS, ERR_OK } from '../constantMap';
import { queryAnnounceListData, offlineAnnounce } from '../service';

export default {
  name: 'AnnounceList',
  data () {
    return {
      dataSource: [{}],
      tableColumns: [
        {
          title: 'ID',
          key: 'id',
          align: 'center',
          width: 65
        },
        {
          title: '创建时间',
          key: 'createdTime',
          align: 'center',
          render: (h, params) => <div>{moment(this.dataSource[params.index].createdTime).format('YYYY/MM/DD HH:mm:ss')}</div>,
          width: 100
        },
        {
          title: '通知标题',
          key: 'announceTitle',
          align: 'center',
          tooltip: true
        },
        {
          title: '发布人',
          key: 'creator',
          align: 'center',
          maxWidth: 150
        },
        {
          title: '置顶',
          key: 'BTT',
          // Bump To Top
          align: 'center',
          render: (h, params) => {
            let text = '';
            text = BTT_TYPES[this.dataSource[params.index].BTT] || '-';
            return <div>{text}</div>;
          },
          width: 60
        },
        {
          title: '通知形式',
          key: 'announceMethod',
          align: 'center',
          render: (h, params) => {
            let text = '';
            text = ANNOUNCE_METHOD[this.dataSource[params.index].announceMethod];
            return <div>{text}</div>;
          },
          width: 100
        },
        {
          title: '上线时间',
          key: 'onlineTime',
          align: 'center',
          render: (h, params) => <div>{moment(this.dataSource[params.index].onlineTime).format('YYYY/MM/DD HH:mm:ss')}</div>,
          width: 100
        },
        {
          title: '类别',
          key: 'type',
          align: 'center',
          render: (h, params) => {
            let text = '';
            text = ANNOUNCE_TYPE[this.dataSource[params.index].type];
            return <div>{text}</div>;
          },
          width: 80
        },
        {
          title: '状态',
          key: 'status',
          align: 'center',
          render: (h, params) => {
            if (this.dataSource[params.index].status) {
              const { label, dotStatus } = ANNOUNCE_STATUS[this.dataSource[params.index].status];
              return (
                <div>
                  <i-badge status={dotStatus} text={label} />
                </div>
              );
            }
          },
          width: 90
        },
        {
          title: '操作',
          key: 'action',
          width: 170,
          align: 'center',
          render: (h, params) => {
            let showBtnDisabled, editBtnDisabled, removeBtnDisabled;
            showBtnDisabled = editBtnDisabled = removeBtnDisabled = false;
            if (this.dataSource[params.index].status === 3) {
              editBtnDisabled = removeBtnDisabled = true;
            }
            return (
              <div>
                <i-button type="primary" size="small" disabled={showBtnDisabled} onClick={() => this.show(params.row)} style={{ marginRight: '5px' }}>
                  查看
                </i-button>
                <i-button type="info" size="small" disabled={editBtnDisabled} onClick={() => this.edit(params.row)} style={{ marginRight: '5px' }}>
                  编辑
                </i-button>
                <i-button type="error" size="small" disabled={removeBtnDisabled} onClick={() => this.remove(params.row)}>
                  下线
                </i-button>
              </div>
            );
          }
        }
      ],
      sortForm: {
        createdTime: '',
        announceTitle: '',
        announceMethod: '',
        status: ''
      },
      datePickerOptions: {
        disabledDate (date) {
          return date && date.valueOf() >= Date.now();
        }
      },
      listLoading: true,
      pageInfo: {
        total: 0,
        current: 1,
        pageSize: 20
      },
      ANNOUNCE_METHOD,
      ANNOUNCE_STATUS
    };
  },
  methods: {
    show ({ id, announceMethod }) {
      this.$router.push(`/announce/detail/${id}/${announceMethod}`);
    },
    edit ({ id, announceMethod }) {
      this.$router.push(`/announce/edit/${id}/${announceMethod}`);
    },
    remove ({ id }) {
      this.$Modal.confirm({
        title: '警告',
        content: '<p>确认要对此条公告进行下线吗？</p>',
        onOk: async () => {
          const res = await offlineAnnounce({ id });
          if (res.status.code === ERR_OK) {
            this.listLoading = true;
            setTimeout(async () => {
              await this.updateDataSource();
              await this.$Message.success('下线成功');
            }, 1000);
          }
        },
        onCancel: () => {}
      });
    },
    handlePageChange (nextPage) {
      this.pageInfo.current = nextPage;
      this.updateDataSource();
    },
    handlePageSizeChange (pageSize) {
      console.log(pageSize);
      this.pageInfo.pageSize = pageSize;
      this.pageInfo.current = 1;
      this.updateDataSource();
    },
    async updateDataSource () {
      const sortForm = this.sortForm;
      const pageInfo = this.pageInfo;
      this.listLoading = true;
      const res = await queryAnnounceListData({
        date: sortForm.createdTime ? moment(sortForm.createdTime).format('YYYY-MM-DD') : '',
        notice_name: sortForm.announceTitle || '',
        notice_type: sortForm.announceMethod || '',
        status: sortForm.status || '',
        type: '',
        pageSize: pageInfo.pageSize,
        offset: pageInfo.pageSize * (pageInfo.current - 1)
      });
      if (res.status.code === ERR_OK) {
        this.dataSource = await res.data.arr.map(v => ({
          id: v.add_id,
          createdTime: v.create_time,
          announceTitle: v.notice_title,
          creator: '-',
          BTT: v.is_top,
          announceMethod: v.notice_type,
          onlineTime: v.upline_time,
          type: v.type,
          status: v.state
        }));
        this.pageInfo.total = await res.data.total;
        this.listLoading = false;
      }
    },
    async handleSubmit () {
      const sortFormCheckOK = await this.$refs.sortForm.validate();
      if (sortFormCheckOK) {
        this.pageInfo.current = 1;
        this.updateDataSource();
      }
    },
    async handleReset () {
      await this.$refs.sortForm.resetFields();
      this.pageInfo.pageSize = 20;
      this.pageInfo.current = 1;
      await this.updateDataSource();
    },
    handleCreateAnnounce () {
      this.$router.push('/announce/add');
    }
  },
  components: {
    Page
  },
  created () {
    this.updateDataSource();
  }
};
</script>

<style lang="less" scoped>
.announce-list {
  .add-item-row {
    margin-bottom: 16px;
  }
}
</style>
