<template>
  <div class="container">
    <div class="content">
      <div class="title">
        <img class="logo" :src="minLogo" /> ONO后台管理系统
        <div class="desc">
          全球最大的自由、价值平等、去中心化的社交网络
        </div>
      </div>
      <div class="main">
        <i-form ref="formValidate" :model="form" :rules="ruleValidate">
          <i-form-item label="" prop="account">
            <i-input class="input-item" prefix="md-person" v-model="form.account" size="large" placeholder="账号" />
          </i-form-item>
          <i-form-item label="" prop="password">
            <i-input class="input-item" prefix="md-lock" type="password" v-model="form.password" size="large" placeholder="密码" @on-enter="handleSubmit('formValidate')" />
          </i-form-item>
        </i-form>
        <i-button class="login-btn" type="primary" size="large" @click="handleSubmit('formValidate')" long>登录</i-button>
      </div>
    </div>
  </div>
</template>

<script>
import {setToken} from '@/utils/token';
import minLogo from '@/assets/images/logo-min.png';
// import { routes } from '@/router';
// import { getMenuByRouter } from 'utils';
export default {
  name: 'login',
  data () {
    return {
      form: {
        account: '',
        password: ''
      },
      ruleValidate: {
        account: [{ required: true, message: '请输入账号信息', trigger: 'blur' }],
        password: [{ required: true, message: '请输入密码', trigger: 'blur' }]
      },
      minLogo
    };
  },
  methods: {
    handleSubmit (name) {
      this.$refs[name].validate(valid => {
        if (valid) {
          this.$Spin.show();
          setTimeout(() => {
            this.$Spin.hide();
            if (this.form.account === 'ONO-Admin' && this.form.password === 'RQFMRkkhrbWxtgiLjpyKv9hU') {
              setToken('123');
              this.$Message.success('登录成功');
              // this.getMenuList();
              this.$router.push('/announce/list');
            } else {
              this.$Message.error('登录失败');
            }
          }, 1000);
        }
      });
    }
    // getMenuList () {
    //   console.log(getMenuByRouter(routes));
    // }
  }
};
</script>

<style lang="less" scoped>
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #f0f2f5;
  background-image: url(./bg.svg);
  background-repeat: no-repeat;
  background-position: center 110px;
  background-position-x: center;
  background-position-y: 110px;
  background-size: 100%;
  .content {
    flex: 1 1;
    padding: 189px 0 24px;
    text-align: center;
    .title {
      font-size: 33px;
      color: rgba(0, 0, 0, 0.85);
      font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
      font-weight: 600;
      position: relative;
      top: 2px;
      .logo {
        height: 44px;
        vertical-align: middle;
      }
      .desc {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.45);
        font-family: 'Monospaced Number', 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
          'Helvetica Neue', Helvetica, Arial, sans-serif;
        margin-top: 12px;
        margin-bottom: 40px;
      }
    }
    .main {
      width: 368px;
      margin: 0 auto;
      .login-btn {
        height: 40px;
      }
    }
  }
}
</style>
