<template>
  <i-form class="form" ref="languageForm" :model="formData" :rules="rules" :label-width="90" label-position="right">
    <Divider>配置{{LANGUAGES[langCode]}}通知内容</Divider>
    <i-form-item label="通知标题" prop="announceTitle">
      <i-input v-model="formData.announceTitle"></i-input>
    </i-form-item>
    <i-form-item label="通知URL" prop="announceURL">
      <i-input v-model="formData.announceURL"></i-input>
      <i-alert class="alert" type="warning" closable>
        注意
        <template slot="desc">
          <br>
          配置URL时，注意检查URL地址后是否有带有open_type 和 content_type 参数，如果没有，需要手动添加，格式如下：<br><br>
          地址链接参数 <span class="marked">&open_type=1&content_type=1</span><br>
          <div class="desc">
            <ul>
              open_type ：
              <li>0 - app内用H5打开</li>
              <li>1 - 用原生打开</li>
            </ul>
            <ul>
              content_type：
              <li>1 - 故事</li>
              <li>2 - 长文</li>
            </ul>
          </div>
        </template>
      </i-alert>
    </i-form-item>
    <template v-if="announceMethodCode === '1' || announceMethodCode === '3'">
      <i-form-item label="弹框文案" prop="modelText">
        <i-input v-model="formData.modelText" type="textarea" :autosize="{minRows: 2,maxRows: 5}" placeholder="通知内容" />
      </i-form-item>
      <i-form-item label="按钮文案" prop="buttonText">
        <i-input v-model="formData.buttonText"></i-input>
      </i-form-item>
      <i-form-item label="弹框图片" prop="modalImage">
        <i-upload type="drag" :max-size="300" accept="image/*" :on-error="handleUploadErr" :format="['jpg', 'png', 'jpeg']" :before-upload="handleBeforeUploadModalImg.bind(this)" action="#">
          <img v-if="formData.base64ModalImage" :src="formData.base64ModalImage" style="maxWidth: 100%" alt="">
          <div v-else style="padding: 20px 0">
            <i-icon type="ios-cloud-upload" size="52" style="color: #3399ff"></i-icon>
            <p>图片支持jpg、png、jpeg。图片最小不低于50K ，最大不超过300K</p>
          </div>
        </i-upload>
      </i-form-item>
    </template>
    <template v-if="announceMethodCode === '2' || announceMethodCode === '3'">
      <i-form-item label="列表头图" prop="listImage">
        <i-upload type="drag" :max-size="300" accept="image/*" :on-error="handleUploadErr" :format="['jpg', 'png', 'jpeg']" :before-upload="handleBeforeUploadListImg.bind(this)" action="#">
          <img v-if="formData.base64ListImage" :src="formData.base64ListImage" style="maxWidth: 100%" alt="">
          <div v-else style="padding: 20px 0">
            <i-icon type="ios-cloud-upload" size="52" style="color: #3399ff"></i-icon>
            <p>图片支持jpg、png、jpeg。图片最小不低于2K ，最大不超过300K</p>
          </div>
        </i-upload>
      </i-form-item>
      <i-form-item label="通知摘要" prop="noticeDesc">
        <i-input v-model="formData.noticeDesc"></i-input>
      </i-form-item>
    </template>
  </i-form>
</template>

<script>
import { LANGUAGES } from '../constantMap';

export default {
  name: 'LangForm',
  data () {
    return {
      LANGUAGES
    };
  },
  props: {
    langCode: {
      required: true
    },
    announceMethodCode: {
      required: true
    },
    rules: {
      type: Object,
      required: true
    },
    formData: {
      type: Object,
      required: true
    }
  },
  methods: {
    handleBeforeUploadModalImg (file) {
      const isHt50K = file.size / 1024 > 50;
      const isLt300K = file.size / 1024 < 300;
      const isImg = file.type === 'image/png' || file.type === 'image/jpeg';
      if (!isImg) {
        this.$Message.error('图片仅支持jpg、png、jpeg');
      }
      if (isImg && !isLt300K) {
        this.$Message.error('你上传的图片大小不应超过300K');
      }
      if (isImg && !isHt50K) {
        this.$Message.error('你上传的图片大小不应低于50K');
      }
      if (isHt50K && isLt300K && isImg) {
        this.$emit('on-update-file', this.langCode, 'MODAL', file);
      }
      return false;
    },
    handleBeforeUploadListImg (file) {
      const isHt2K = file.size / 1024 > 2;
      const isLt300K = file.size / 1024 < 300;
      const isImg = file.type === 'image/png' || file.type === 'image/jpeg';
      if (!isImg) {
        this.$Message.error('图片仅支持jpg、png、jpeg');
      }
      if (isImg && !isLt300K) {
        this.$Message.error('你上传的图片大小不应超过300K');
      }
      if (isImg && !isHt2K) {
        this.$Message.error('你上传的图片大小不应低于2K');
      }
      if (isHt2K && isLt300K && isImg) {
        this.$emit('on-update-file', this.langCode, 'LIST', file);
      }
      return false;
    },
    handleUploadErr (error, file, fileList) {
      console.log(error, file, fileList);
    }
  }
};
</script>

<style lang="less" scoped>
.form {
  .alert {
    margin-top: 20px;
    .marked {
      color: #ed4014;
    }
    .desc {
      margin: 10px 0;
      word-break: break-all;
      ul {
        li {
          margin-left: 20px;
          list-style-type: disc;
        }
      }
    }
  }
}
</style>
